* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    outline: none !important;
    font-family: "Poppins", sans-serif;
}

:root {
    --background-header: rgb(189, 184, 184);
    --text-color: black;
    --footer-coracao: rgb(124, 0, 0);
    --background-titulo: rgb(187, 178, 178);
    --background-cards: rgb(161, 144, 144);
    --text-cards: rgb(0, 0, 0);
    --color-icons: rgb(0, 0, 0);
    --text-shadow: black;
    background-color: var(--background-header);
}

a:visited {
    color: inherit;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #dee0e2;
}

.material-symbols-outlined {
    font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

/* BANNER */
.titulo {
    width: 100%;
    height: 100%;
    background: url("../img/produtos.jpg") no-repeat center;
    background-size: cover;
}

.titulo p {
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    text-shadow: 1px 1px 6px white;
    text-align: center;
    margin-top: 500px;
}

/* HEADER */
#site-header {
    width: 100%;
    height: 5vh;
    background-color: var(--background-header);
    color: var(--text-color);
    position: sticky;
    top: 0;
    left: 0;
}

#header-container {
    width: 100%;
    height: 100%;
    display: flex;
}

#header-logo {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
}

#header-logo img {
    width: 10%;
    height: 90%;
    margin-left: 40px;
}

#header-links {
    width: 60%;
    height: 100%;
    font-size: 110%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

a {
    color: inherit;
}

/* DARK-MODE */
#header-darkmode {
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#dark-mode {
    display: none;
}

.label-darkmode {
    color: var(--text-color);
    display: flex;
    align-items: center;
    cursor: pointer;
}

.darkmode {
    --background-header: black;
    --text-color: rgb(187, 178, 178);
    --background-cards: #c2bebe;
    --background-titulo: rgb(41, 40, 40);
    --text-cards: black;
    --color-icons: white;
    background-color: black;
}

/* SOBRENOS */
#sobrenos {
    width: 40%;
    height: 50vh;
    font-size: 200%;
    color: var(--text-color);
    font-size: 20px;
}

.titulo2 {
    width: 100%;
    height: 50%;
    background: url("../img/img.jpeg") no-repeat center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.titulo2 p {
    font-size: 20px;
    font-weight: bolder;
    color: white;
    font-weight: bolder;
    text-transform: uppercase;
    align-items: center;
    text-align: center;
    margin-top: 40px;
    text-shadow: 3px 3px 6px black;
}

#sobrenos h3 {
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    text-shadow: 3px 3px 6px black;
    font-weight: 400;
    margin-top: 100px;
}

/* FOOTER */
.site-footer {
    width: 100vw;
    height: 50px;
    background-color: var(--background-header);
    display: flex;
    position: static;
    bottom: 0;
}

.site-footer,
.container-icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container-icons {
    color: var(--color-icons);
    display: flex;
    justify-content: center;
    gap: 50px;
}

.footer-text {
    color: var(--text-color);
    font-size: 15px;
    font-family: "Roboto";
    font-weight: 300;
    margin-top: 12px;
}

.footer-text > span {
    color: var(--footer-coracao);
}

/* SEÇÃO DE PRODUTOS */
#index-card-section-cadeiras {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#index-card-section-mouse {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#index-card-section-teclado {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#index-card-section-produtos {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

h3 {
    font-weight: 500;
    font-size: 50px;
    color: var(--text-color);
    text-shadow: 2px 2px 5px var(--text-color);
    margin-top: 20px;
    text-transform: uppercase;
}

.index-produto {
    width: 19%;
    height: 50vh;
    background-color: var(--background-cards);
    color: var(--text-cards);
    font-size: larger;
    font-weight: bolder;
    display: grid;
    justify-items: center;
    text-align: center;
    align-items: center;
    border: 3px;
    border-radius: 10px;
    margin-bottom: 1%;
    padding: 8px;
}

#preco,
#preco2,
#preco3 {
    font-weight: bolder;
}

.index-produto img {
    width: 50%;
    height: 20vh;
    border: 0.5px solid var(--border-color);
    border-radius: 5px;
}

.btn-danger {
    padding: 8px;
    cursor: pointer;
}

/* RESPONSIVIDADE */
@media (max-width: 410px) {
    #header-container {
        font-size: 90%;
    }

    .footer-text {
        font-size: 80%;
    }
}

/* IPHONE4 */
@media (max-width: 340px) {
    #site-header {
        width: 100%;
        height: auto;
        position: sticky;
        top: 0;
        left: 0;
    }

    #modal-detalhes {
        width: 100%;
        height: 80%;
    }

    .titulo {
        width: 100%;
        height: 150%;
    }

    .titulo p {
        font-size: 7px;
        font-weight: bold;
        text-transform: uppercase;
        color: white;
        text-shadow: 1px 1px 6px white;
        text-align: center;
        margin-top: 100px;
    }

    #header-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #header-links {
        width: 100%;
        font-size: 57%;
    }

    #header-logo img {
        width: 30%;
        margin-left: 37px;
        cursor: pointer;
    }

    #light-symbol,
    #dark-symbol {
        font-size: 100%;
    }

    #index-card-section-cadeiras {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #index-card-section-mouse {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #index-card-section-teclado {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #cadeiras,
    #mouse,
    #teclado #produtos {
        font-size: 20px;
        color: var(--text-color);
        font-weight: bold;
        text-transform: uppercase;
        text-shadow: 3px 3px 6px var(--text-color);
        margin-top: 20px;
    }

    .index-produto {
        width: 70%;
        height: 72vh;
        background-color: var(--background-cards);
        color: var(--text-cards);
        font-size: smaller;
        font-weight: bolder;
        display: grid;
        justify-items: center;
        text-align: center;
        align-items: center;
        border: 3px;
        border-radius: 10px;
        margin-bottom: 1%;
        padding: 8px;
    }

    #sobrenos {
        width: 60%;
        height: 30vh;
        color: var(--text-color);
    }

    .titulo2 {
        width: 100%;
        height: 100%;
        background: url("../img/img.jpeg") no-repeat center;
        background-size: cover;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .titulo2 p {
        font-size: 5px;
        font-weight: bolder;
        color: rgb(255, 255, 255);
        font-weight: bolder;
        text-transform: uppercase;
        align-items: center;
        text-align: center;
        margin-top: 1px;
        text-shadow: 3px 3px 6px black;
    }

    #sobrenos h3 {
        font-weight: bold;
        font-size: 10px;
        text-transform: uppercase;
        color: white;
        text-shadow: 3px 3px 6px black;
        font-weight: 400;
        margin-top: 5px;
    }

    .site-footer {
        width: 100vw;
        height: 45px;
    }

    .footer-text {
        font-size: 60%;
        margin-top: 12px;
    }

    .container-icons {
        display: flex;
        justify-content: center;
        gap: 20px;
    }
}

@media (max-width: 310px) {
    #header-container {
        font-size: 70%;
    }

    #light-symbol #dark-symbol {
        font-size: 120%;
    }

    .footer-text {
        font-size: 70%;
    }
}
